:root {
    --nav-background: solid cornflowerblue;
    --nav-border: .5em solid rgb(254, 52, 126);
    
}

nav {
    display: flex;
    background-color: var(--nav-background);
    border: var(--nav-border);
    font-size: 2rem;
    border-radius: 5px;
    justify-content: space-between;
}

nav:is(ul, li){
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    gap: 10px;
    padding: 10px;
}

nav > ul > li {
    background-color: coral;
    list-style: none;
    border: 1px solid cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
    display: block;
}

nav div {
    position: relative;
}

.logo {
    height: 5vw;
}

main {
    border: 5px solid royalblue;
    padding: 1rem;
    margin-block: 2rem;
    
}

div.galeria {
    border: 5px solid coral;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 400px);
}

div.galeria > div {
    margin: 1rem;
    background-color: cornflowerblue;   
}

div.galeria > :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

div.galeria > :nth-child(2) {
    background-color: coral;
}

div.galeria > :nth-child(3) {
    background-color: rgb(254, 52, 126);
}

div.galeria > :nth-child(4) {
    background-color: rgb(254, 52, 126);
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 2;
}

div.galeria > :nth-child(6) {
    background-color: coral;
}

div.galeria > :nth-child(7) {
    background-color: coral;
}

div.galeria > :nth-child(8) {
    background-color: rgb(254, 52, 126);
}