body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    border: 12px solid whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.genius *:not(.pontuacao) {
    cursor: pointer;
  }
  
  div.genius {
    background-color: gray;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    border-radius: 50%;
    position: relative;
  }
  
  div.genius> :nth-child(1) {
    border-radius: 100% 0 0 0;
    background-color: darkred;
  }

  div.genius> :nth-child(1).on,
  div.genius> :nth-child(1):hover {
    border-radius: 100% 0 0 0;
    background-color: red;
  }
  
  div.genius> :nth-child(2) {
    border-radius: 0 100% 0 0;
    background-color: darkblue;
  }

  div.genius> :nth-child(2).on,
  div.genius> :nth-child(2):hover {
    border-radius: 0 100% 0 0;
    background-color: blue;
  }
  
  div.genius> :nth-child(3) {
    background-color: darkorange;
    border-radius: 0 0 0 100%;
  }

  div.genius> :nth-child(3).on,
  div.genius> :nth-child(3):hover {
    background-color: yellow;
    border-radius: 0 0 0 100%;
  }
  
  div.genius> :nth-child(4) {
    background-color: darkgreen;
    border-radius: 0 0 100% 0;
  }

  div.genius> :nth-child(4).on,
  div.genius> :nth-child(4):hover {
    background-color: green;
    border-radius: 0 0 100% 0;
  }
  
  div.pontuacao {
    background-color: gray;
    position: absolute;
    inset: 30%;
    border-radius: 50%;
  }